body {
  background-image: url('bg_main.jpg');
}

.wrapper {
	margin-top: 30px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 5px;
  border: 3px rgba(0,0,0,0.1);
  }

.form-signin .error {
  font-size: 14px;
  position: relative;
  text-align:center;
  color: red;
}

.form-signin-heading {
  text-align:center;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.btn-logout {
  margin-top: 10px;
}

.btns-status {
  margin-top: 10px;
  display: inline;
}


input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.status {
  margin-top: 20px;
  display: block;
}

.time-circle {
  margin: 0 auto;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  padding: 10px;
  background: #eeeeee;
  border: 3px solid #000;
  text-align: center;
  color: #000;
  font: 32px Helvetica, Arial;
}
.time-title {
  text-align:center;
  color: #000;
  margin-bottom: 5px;
}
.end {
  height: 60px;
}

.difficulty {
  margin-bottom: 20px;
  font-weight: bold;
}

.dropdown-menu {
  margin-top:35px;
}

.new-map {
  margin-top: 20px;
}

.new-map input{
  margin-bottom: 20px;
}

.add-new-path{
  margin-bottom: 20px;
}

.end-admin {
  height: 140px;
}