{% extends "bootstrap/base.html" %}
{% block title %}Welcome to the GYMMY Login Page{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content%}
<div class = "container">
    <div class="bg-blur"></div>
	<div class="wrapper">
		<form action="{{ url_for('signup') }}" method="post" name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading">Sign Up In GYMMY</h3>
                <hr class="colorgraph"><br>
                <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
                <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                <button class="btn btn-lg btn-success btn-block"  name="Submit" value="Signup" type="Submit">Sign up</button>
		</form>
	</div>
</div>
{% endblock %}